body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    margin: 0 2rem;
    padding: 3.5rem 0;
    text-align: center;
}

a {
    text-decoration: none !important;
    color: black !important;
}

li {
    list-style: none;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-div button {
    margin: .5rem;
    font-size: .8rem;
    padding: .6rem 1.2rem;
    border-radius: 5px;
}

.text-wrapper {
    padding: 1.5rem .5rem;
}

/* General rule for list bottom border */
.list-item {
    padding: .80rem 0;
}

.list-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.128);
}

/* Rules for features tabs */
.show {
    display: block;
}

.hide {
    display: none;
}

/* Images styling */
.img-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
}

.img-wrapper img {
    width: 90%;
    height: auto;
}

/* NAVBAR */
#navbar {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

#links-menu {
    display: none;
}

/* BANNER */
#banner {
    position: relative;
}

/* FEATURES */

/* Add top and bottom border to features list */
#feature-list {
    border-top: 1px solid rgba(0, 0, 0, 0.128);
    border-bottom: 1px solid rgba(0, 0, 0, 0.128);
    margin: 2rem;
    padding: 0;
}

/* add break lines between features list except last child */
#feature-list.list-item:last-child {
    border-bottom: 0;
}

.list-item a {
    padding: .75rem 0;
}

.active-list {
    border-bottom: 5px solid red;
}

/* PRICING */

.pricing-cards {
    display: flex;
    flex-direction: column;
}

.p-card {
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    border-radius: 5%;
}

.p-card > .buttons-div {
    margin: 1rem 0;
}

.img-top {
    width: 80px;
    margin: 2.5rem 0 0rem;
}

/* FAQ */

#faq-questions > .list-item {
    text-align: left;
    padding-bottom: .5rem;
}

/* Accordion Style Resource: https://wpbeaches.com/create-expandcollapse-faq-accordion-collapse-click/ */
.faq-accordion {
    padding: .5rem 0;
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
}

.faq-accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.faq-accordion.active:after {
    content: "\2796"; 
}

.faq-panel {
    padding: .5rem 0;
}
