html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar style */
#navbar {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
}

.navbar #links-menu {
    display: none;
}

/* Banner style */
#banner {
    position: relative;
}

#banner-img {
    width: 100%;
}